// variables
$green-dark: #025157;
$background-white: #fffbf7;
$btn-hover-green: #67b54b;
$background-green: #a1d686;
$background-yellow: #f9da73;
$font-color-grey: #8b8b8bcc;
$font-color-grey-clear: #979797;
$header-color-black: #4a4a4a;