body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    background-color: #fffbf7;
    text-align: center;
}


.btn {
    display: inline-block;
    background-color: #025157;
    padding: 1.2rem 1rem;
    border-radius: 10px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fixed-header {
    background-color: #fffbf7;
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.header > * {
    font-size: 16px;
    line-height: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .logo {
    display: inline-block;
    width: 5%;
    align-items: center;
}

.header .logo > img {
    width: 100%;
}

.header .navbar {
    text-align: left;
    color: #025157;
    font-weight: 500;
    padding-right: 8em;
}

.header .navbar ul {
    padding-left: 0em;
    display: flex;
}

.header .navbar ul li {
    list-style: none;
}

.header .navbar ul li a {
    padding: 0em 1.56em;
    color: #025157;
    text-decoration: none;
    font-weight: 400;
}

.header .actions {
    font-size: 14px;
}

.header .actions > * {
    margin: 0em 0.71em;
    text-decoration: none; 
}

.header .actions .link {
    color: #67b54b; 
}

.header .actions .btn {
    display: inline-block;
    padding: 0.85em 1em; 
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #67B548;
    border: none;
    border-radius: 5px;
}

.main {
    margin-top: 12.25rem;
}

.main .title {
    margin-bottom: 0;
    text-align: center;
    color: #025157;
    font-size: 3.75rem;
    font-family: 'Alegreya', serif;
    font-weight: 900;
}

.main .description {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.main .form-signup {
    display: flex;
    justify-content: center;
}

.main .form-signup input[type="email"] {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border: 2px solid #cecece;
    border-right: 0px;
    padding: 1rem 1.25rem;
    font-size: 16px;
    color: #a4a4a4;
}

.main .form-signup input[type="email"]:focus{
    border: 2px solid #025157;
    border-right: 0px;
    outline: none
}

.main .form-signup button[type="submit"] {
    border: 3px solid #025157;
    display: inline-block;
    background-color: #025157;
    padding: 1rem 1.5rem;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    color:white;
}

.main .form-signup button[type="submit"]:hover {
    cursor: pointer;
}

.main .thumb {
    padding: 4em;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.main .thumb > * {
    width: 100%;
}

.main .call-to-action {
    display: inline-block;
    margin-top: 2em;
    color: rgb(165, 165, 165);
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/** ADVERTISING VIDEO **/

.main .section-advertising {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.main .section-ads-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.main .section-ads-video .arrow {
    width: 20%;
}

.main .section-ads-description {
    text-align: left;
    width: 30%;
}

.main .section-ads-description .title {
    text-align: left;
    font-size: 2.5em;
    margin: 0;
}

.main .section-ads-description .description {
    margin-bottom: 2rem;
}

.main .section-ads-description .form-signup {
    text-align: left;
    padding-right: 5rem;
    margin-bottom: 5rem;
}

/** TESTIMONIALS - GROWING ECOMM BRANDS **/

.main .testimonials {
    max-width: 100%;
    background-color: #a1d686;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 16em;
    text-align: left;
}

.main .testimonials .testimonials-description {
    max-width: 50%;
}

.main .testimonials .testimonials-description .title {
    font-size: 3.35em;
    line-height: 1.15em;
    text-align: left;
}

.main .testimonials .testimonials-description .description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    line-height: normal;
}


.main .testimonials .testimonials-description .btn {
    margin-top: 1em;
}

.main .testimonials .testimonials-description img {
    margin-top: 2em;
    width: 90%;
}

.main .testimonials .card {
    position: relative;
    max-width: 35%;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
}

.main .testimonials .card img {
    width: 100%;
}

.main .testimonials .card .brandLogo {
    width: 20%;
    background-color: #f9da73;
    padding: 2em 0.5em;
    border-radius: 100%;
    position: absolute;
    left: 70%;
    bottom: 35%;
}

.main .testimonials .card .brandLogo > * {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.main .testimonials .card .card-description {
    padding: 1em;
}

.main .testimonials .card .card-description .card-title {
    font-size: 1.5em;
    color:#025157;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    margin-top: 0;
}

.main .testimonials .card .card-description .description {
    font-size: 1.25em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    margin-bottom: 2em;
}

.main .testimonials .card .card-description .btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

/** FEATURES SECTION **/

.main .features {
    max-width: 100%;
    background-color: #025157;
    padding: 6em 10em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1.75em 1.9em;
}

.main .features .feature-card {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.main .features .feature-card .feature-description {
    padding: 2.5em;
    width: 80%;
}

.main .features .feature-card .thumb {
    width: 20%;
}

.main .features .feature-card .feature-description .icon {
    width: 10%;
}

.main .features .feature-card .feature-description .card-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 250;
    text-align: left;
}

.main .features .feature-card .feature-description .description {
    color: rgb(165, 165, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.main .features .feature-card .feature-description .btn-inline {
    display: inline-block;
    color: #67b54b; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

.main .features .feature-card .feature-description .btn-inline:hover {
    transform: translate(3%);
    transition: 0.5s;
}