body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    background-color: #fffbf7;
    text-align: center;
}


.btn {
    display: inline-block;
    background-color: #025157;
    padding: 1.2rem 1rem;
    border-radius: 10px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 350ms ease;
}

.btn:hover {
    background-color: #67B548;
    color: white;
}

.btn-inline {
    display: inline-block;
    color: #67b54b; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
    width: 100%;
    transition: all 0.5s ease;
}

.btn-inline:hover {
    color: #67b54b; 
    transform: translate(3%);
}

.logo {
    display: inline-block;
    width: 3%;
    align-items: center;
}

.logo > img {
    width: 100%;
}

.navbar {
    text-align: center;
    background-color: #fffbf7;
}

.navbar.items {
    text-align: center;
    justify-content: center;
    margin: 0;
    align-items: center;
    align-content: center;
}

.navbar.items ul {
    padding-left: 0em;
    display: flex;
}

.navbar.items ul li {
    list-style: none;
}

.navbar.items ul li a {
    padding: 0em 1.56em;
    color: #025157;
    text-decoration: none;
    font-weight: 400;
}

.actions {
    font-size: 14px;
}

.actions > * {
    margin: 0em 0.71em;
    text-decoration: none; 
}

.actions .link {
    color: #67b54b; 
}

.actions .btn {
    display: inline-block;
    padding: 0.85em 1em; 
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #67B548;
    border: none;
    border-radius: 5px;
}

.main {
    margin-top: 12.25rem;
}

.main .title {
    margin-bottom: 0;
    text-align: center;
    color: #025157;
    font-size: 3.75rem;
    font-family: 'Alegreya', serif;
    font-weight: 900;
}

.main .description {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.main .form-signup {
    display: flex;
    justify-content: center;
}

.main .form-signup input[type="email"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #cecece;
    border-right: 0px;
    padding: 1rem 1.25rem;
    font-size: 16px;
    color: #a4a4a4;
}

.main .form-signup input[type="email"]:focus{
    border: 2px solid #025157;
    border-right: 0px;
    outline: none
}

.main .form-signup button[type="submit"] {
    border: 3px solid #025157;
    display: inline-block;
    background-color: #025157;
    padding: 1rem 1.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    transition: all 350ms ease;
}

.main .form-signup button[type="submit"]:hover {
    cursor: pointer;
    background-color: #67B548;
    border: 3px solid #67B548;
}

.main .thumb {
    margin: 5em 0;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.main .thumb > * {
    width: 100%;
}

.main .call-to-action {
    display: inline-block;
    margin-top: 2em;
    color: rgb(165, 165, 165);
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/** ADVERTISING VIDEO **/

.main .section-advertising {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 5rem 0;
}

.main .section-ads-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.main .section-ads-video .arrow {
    width: 20%;
}

.main .section-ads-description {
    text-align: left;
    width: 30%;
}

.main .section-ads-description .title {
    text-align: left;
    font-size: 2.5em;
    margin: 0;
}

.main .section-ads-description .description {
    margin-bottom: 2rem;
}

.main .section-ads-description .form-signup {
    padding: 0;
    justify-content: left;
}

/** FEATURES SECTION **/

.main .features {
    max-width: 100%;
    background-color: #025157;
    padding: 6em 15%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1.75em 1.9em;
}

.main .features .feature-card {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.main .features .feature-card .feature-description {
    padding: 2.5em;
    width: 80%;
}

.main .features .feature-card .thumb {
    width: 20%;
}

.main .features .feature-card .feature-description .icon {
    width: 10%;
}

.main .features .feature-card .feature-description .card-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 250;
    text-align: left;
}

.main .features .feature-card .feature-description .description {
    color: rgb(165, 165, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

/** TESTIMONIALS - GROWING ECOMM BRANDS **/

.main .testimonials {
    max-width: 100%;
    background-color: #a1d686;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7em;
    padding: 2em 20%;
    text-align: left;
}

.main .testimonials .testimonials-description {
    max-width: 50%;
}

.main .testimonials .testimonials-description .title {
    font-size: 3.35em;
    line-height: 1.15em;
    text-align: left;
}

.main .testimonials .testimonials-description .description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    line-height: normal;
}


.main .testimonials .testimonials-description .btn {
    margin-top: 1em;
}

.main .testimonials .testimonials-description img {
    margin-top: 2em;
    width: 90%;
}

.testimonials .card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
}

.testimonials .card img {
    width: 100%;
}

.testimonials .card .card-description .brandLogo {
    width: 27%;
    background-color: #f9da73;
    padding: 2em 0em;
    border-radius: 100%;
    position: absolute;
    left: 67%;
    top: -25%;
    z-index: 1;
}

.testimonials .card .brandLogo > * {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.testimonials .card .card-description {
    position: relative;
    padding: 1em;
    padding-top: 2.5em;
    padding-bottom: 0;
    z-index: 0;
}

.testimonials .card .card-description .card-title {
    font-size: 1.5em;
    color:#025157;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    margin-top: 0;
}

.testimonials .card .card-description .description {
    font-size: 1.25em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.testimonials .card .statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 3em;
}

.testimonials .card .statistics > img {
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.testimonials .card .statistics .description {
    font-size: 16px;
    color: #8b8b8bcc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.testimonials .card .btn {
    width: 55%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 1em;
    height: 65px;
}

.carousel-control-prev {
    position: absolute;
    left: -18%;
    opacity: 0.75;
}

.carousel-control-next {
    position: absolute;
    right: -18%;
    opacity: 0.75;
}

/** WORK STEPS - SECTION **/

.main .work-process {
    max-width: 100%;
    background-color: #fffbf7;
    padding: 4.75em 10.5em;
}

.main .work-process .title {
    font-size: 3em;
    margin: 0 0 0.15em 0;
}

.main .work-process .description {
    margin: 0 12em 1em 12em;
}

.main .work-process .btn {
    padding: 0.5rem 1rem;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 600;
}

.main .work-process .steps {
    margin-top: 4.5em;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.70em;
}

.main .work-process .steps .card-step {
    width: 100%;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    text-align: left;
}

.main .work-process .steps .card-step .card-description {
    padding: 1.25em;
}

.main .work-process .steps .card-step .card-description .card-img {
    width: 100%;
}

.main .work-process .steps .card-step .card-description .card-title {
    text-align: center;
    font-size: 1.85em;
    font-family: 'Alegreya', serif;
    color: #025157;
    font-weight: 900;
    line-height: 2.25em;
}

.main .work-process .steps .card-step .card-description .description {
    margin: 1em 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

hr {
    margin: 0;
}

.footer {
    background-color: white;
    padding: 3.5em;
}

.footer .description {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 0;
}


/** MEDIA-QUERIES */
@media screen and (max-width:1250px) {
    .main .testimonials {
        justify-content: center;
        gap: 5em;
    }

    .main .testimonials .testimonials-description {
        max-width: 45%;
    }

    .main .testimonials .card .card-description {
        margin-top: 1em;
        padding-bottom: 0;
    }

    .main .testimonials .card .brandLogo {
        width: 33%;
        left: 62%;
        bottom: 50%;
    }

    .main .work-process .description {
        margin: 0 6em 1em 6em;
    }

    .main .work-process .steps {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 1.70em;
    }
}

@media screen and (max-width:1096px) {
    .main .section-advertising {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
        margin-top: 3em;
    }

    .main .section-advertising .section-ads-description {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    .main .section-advertising .section-ads-description .title {
        text-align: center;
        font-size: 2em;
        margin: 1em 3em;
        padding: 0;
    }

    .main .section-advertising .section-ads-description .description {
        margin: 0 15%;
        padding: 0;
        text-align: center;
    }

    .main .section-advertising .section-ads-description .form-signup {
        justify-content: center;
        margin-top: 2em;
    }

    .main .testimonials {
        flex-direction: column;
        gap: 7em;
        align-items: center;
        padding: 5em 0em;
    }

    .main .testimonials .testimonials-description {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .main .testimonials .testimonials-description .title {
        font-size: 2em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .main .testimonials .testimonials-description .description {
        padding: 0;
    }

    .main .testimonials .card {
        max-width: 40%;
    }

    .main .testimonials .card .card-description .description {
        padding: 0;
        text-align: left;
    }

    .main .testimonials .card .brandLogo {
        width: 23%;
        left: 70%;
        bottom: 33%;
    }

    .main .work-process .description {
        margin: 0 3em 1em 3em;
    }
}

@media screen and (max-width:900px) {
    .main .testimonials .card .brandLogo {
        width: 25%;
        left: 70%;
        bottom: 40%;
    }
}

@media screen and (max-width:800px) {
    .logo {
        width: 5%;
    }

    .main {margin-top: 6em;}

    .main > *{text-align: center;}

    .main .title.main {
        font-size: 2em;
        margin: 1em 0;
        padding: 0 1em;
    }

    .main .description {
        text-align: center;
        margin-bottom: 1em;
        padding: 0 2.5em;
    }

    .main .call-to-action {
        padding: 0 2.5em;
    }

    .main .thumb {
        width: 90%;
        margin: 0;
        margin-top: 4em;
    }
    
    .main .thumb > * {
        width: 100%;
        padding-left: 7%;
    }

    .main .features {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }

    .main .features .feature-card .feature-description {
        width: 100%;
    }

    .main .features .feature-card .feature-description .description {
        padding: 0;
    }

    .main .features .feature-card .thumb {
        display: none;
    }

    .main .testimonials .card .brandLogo {
        width: 30%;
        left: 62%;
        bottom: 42%;
    }

    .main .work-process .description {
        margin: 0;
        margin-bottom: 1em;
        padding: 0;
    }

    .main .work-process .steps {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 1.70em;
        column-gap: 0em;
    }
}

@media screen and (max-width:700px) {
    .main .testimonials .card .brandLogo {
        width: 33%;
        left: 60%;
        bottom: 47%;
    }
}

@media screen and (max-width:576px) {
    .logo {
        width: 10%;
    }

    .main .form-signup {
        display: inline-block;
        width: 100%;
        justify-content: center;
    }

    .main .form-signup input[type="email"] {
        width: 70%;
        border: 2px solid #cecece;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        padding: 0.70rem 1.25rem;
        text-align: center;
    }

    .main .form-signup button[type="submit"] {
        width: 70%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        padding: 0.70rem 1.5rem;
    }

    .main .section-advertising {
        align-items: center;
        align-content: center;
    }

    .main .section-advertising .section-ads-description .title {margin: 1em 1em;}

    .main .section-advertising .section-ads-description .description {
        margin-top: 1em;
        padding: 0;
    }

    .main .section-advertising .section-ads-description .form-signup {
        margin: auto;
        margin-top: 2em;
        text-align: center;
        padding: 0;
    }

    .main .section-advertising .section-ads-video video {
        width: 300px;
    }

    .main .section-advertising .section-ads-video .arrow {
        width: 40%;
    }

    .main .testimonials .testimonials-description {
        max-width: 70%;
    }

    .main .testimonials .testimonials-description .description {
        padding: 0;
    }

    .main .testimonials .card {
        max-width: 70%;
    }

    .main .testimonials .card .card-description .description {
        padding: 0;
        margin-bottom: 1em;
    }

    .main .testimonials .card .brandLogo {
        width: 25%;
        left: 68%;
        bottom: 33%;
    }

    .main .work-process {
        padding-left: 6em;
        padding-right: 6em;
    }

    .main .work-process .title {
        font-size: 2em;
    }

    .main .work-process .description {
        margin-bottom: 1em;
        padding: 0;
    }
}


@media screen and (max-width:425px) {
    .main .testimonials .card .brandLogo {
        width: 30%;
        left: 65%;
        bottom: 40%;
    }

    .main .work-process {
        padding-left: 4.20em;
        padding-right: 4.20em;
    }
}

@media screen and (max-width:380px) {
    .main .form-signup input[type="email"],
    .main .form-signup button[type="submit"] {
        width: 80%;
    }

    .main .testimonials .card .brandLogo {
        width: 33%;
        left: 60%;
        bottom: 44%;
    }

    .main .testimonials .card .btn {
        width: 60%;
    }
}